@model Storepos.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<style>
    * {
        margin: 0;
        padding: 2px;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }

    .navbar {
        background-color: #300243;
    }

    h2 {
        color: whitesmoke;
        text-align: center;
    }

    .container-utama {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 800px;
        width: 100%;
        background: #e6e6e6;
        padding: 25px 30px;
        border-radius: 5px;
        color: #813ba2;
        margin-left: 170px;
    }

    img {
        height: 100px;
        width: 100px;
        position: relative;
        margin-left: 300px;
    }

    .col-md-10 {
        margin-left: 200px;
    }

    .button input {
        width: 100%;
        color: whitesmoke;
        background: #813ba2;
        margin-left: 215px;
    }

        .button input:hover {
            color: black;
            background: #68ffaf;
        }

    .input-box {
        padding-bottom: 5px;
    }
</style>

<div class="navbar navbar-inverse navbar-fixed-top">
    <h2>EKASA MART</h2>
</div>
@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="container-utama">
        <form action="#">
            <div class="user-details">
                <img src="~/Admin_LTE/dist/img/LogoEkasa-removebg-preview.png" alt="Logo Ekasa Mart" />
                <div class="col-md-10">
                    <div class="input-box">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Masukkan Email" })
                    </div>
                </div>

                <div class="col-md-10">
                    <div class="input-box">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Masukkan Username" })
                    </div>
                </div>

                <div class="col-md-10">
                    <div class="input-box">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Masukkan Password" })
                    </div>
                </div>

                <div class="col-md-10">
                    <div class="input-box">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Masukkan Ulang Password" })
                    </div>
                </div>

                <div class="col-md-10">
                    <div class="input-box" @*style="color: whitesmoke;"*@>
                        @*@Html.DropDownList("Name")*@
                        @*<p style="color: #949494;">*@
                        @Html.DropDownList("UserRoles", (SelectList)ViewBag.Name, " ")
                        @*</p>*@                        
                    </div>
                </div>

                <div class="button">
                    <input type="submit" class="btn btn-primary btn-block" value="Daftar" />
                </div>
            </div>
        </form>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}