@model Storepos.Entitites.Barang

@{
    ViewBag.Title = "Delete";
}

<head>
    <link rel="stylesheet" href="~/Content/Barang.css" />
</head>

<div class="navbar navbar-inverse navbar-fixed-top">
    <h2>HAPUS STOK BARANG EKASA MART</h2>
</div>
<br />
<br />

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDBarang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDBarang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nama_Barang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nama_Barang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kode_Barang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kode_Barang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Jumlah_Stok)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jumlah_Stok)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Harga_Satuan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Harga_Satuan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tanggal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tanggal)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
        <div class="tbl-back" style="padding-left: 10px; padding-top: 30px;">
            @Html.ActionLink("Kembali", "Index")
        </div>
    }
</div>
