@model Storepos.Entitites.Barang

@{
    ViewBag.Title = "Details";
}

<head>
    <link rel="stylesheet" href="~/Content/Barang.css" />
</head>

<div class="navbar navbar-inverse navbar-fixed-top">
    <h2>DETAIL STOK BARANG EKASA MART</h2>
</div>
<br />
<br />

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDBarang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDBarang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nama_Barang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nama_Barang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kode_Barang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kode_Barang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Jumlah_Stok)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jumlah_Stok)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Harga_Satuan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Harga_Satuan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tanggal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tanggal)
        </dd>

    </dl>
</div>
<p class="tbl-back">
    @Html.ActionLink("Edit", "Edit", new { idbarang = Model.IDBarang }, new { @class="btn btn-primary" }) 
    @Html.ActionLink("Kembali", "Index")
</p>
