 @model Storepos.Entitites.BARANG___

@{
    ViewBag.Title = "Details";
}

<head>
    <link rel="stylesheet" href="~/Content/Barang.css" />
</head>

<div class="navbar navbar-inverse navbar-fixed-top">
    <h2>Detail Barang</h2>
</div>
<br />
<br />

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDBarang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDBarang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NamaBarang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NamaBarang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KodeBarang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KodeBarang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JumlahStock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JumlahStock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HargaBarang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HargaBarang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tanggal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tanggal)
        </dd>

    </dl>
</div>
<p class="tbl-back">
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-success waves-effect waves-light me-1" }) |
    @Html.ActionLink("Kembali", "Index", new { @class = "tbl-back" })
</p>