@model IEnumerable<Storepos.Entitites.Barang>

@{
    ViewBag.Title = "STOK BARANG";
    //Layout = "~/Views/Shared/Point_of_sale.cshtml";
}

<head>
    <link rel="stylesheet" href="~/Content/Barang.css" />
</head>

<div class="navbar navbar-inverse navbar-fixed-top">
    <h2>STOK BARANG EKASA MART</h2>
</div>
<br />
<br />

<p class="tbl-barang">
    @Html.ActionLink("Tambah Barang", "Create")
</p>
<table class="table">
    <tr style="background: #f5e0fe">
        <th>
            @Html.DisplayNameFor(model => model.IDBarang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nama_Barang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kode_Barang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Jumlah_Stok)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Harga_Satuan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tanggal)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDBarang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nama_Barang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kode_Barang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jumlah_Stok)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Harga_Satuan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tanggal)
            </td>
            <td class="tbl-barang">
                @Html.ActionLink("Edit", "Edit", new { idbarang = item.IDBarang }) |
                @Html.ActionLink("Detail", "Details", new { idbarang = item.IDBarang }) |
                @Html.ActionLink("Hapus", "Delete", new { idbarang = item.IDBarang })
            </td>
        </tr>
    }

</table>

<div>
    <a href="@Url.Action("GeneratePDF", "Barang")">
        <input type="submit" value="Print PDF" style="width : 150px; height :27px " />
    </a>
</div>

